
**/*.pickle.gz
**/*.pickle
**/*.gexf
**/*.gephi
**/*.graphml

vibrioferrin/clinker.json


f-4_s-11-12_vibrioferrin/tree_files

sg_search_culture_collections/clustermap/errors/

refseq_antismash_to_mibig_70/

s-17_mibig_functional_annotation/mibig.gephi.gz

**/.DS_Store
manuscript_1_data/
